<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchAction</servlet-name>
    <servlet-class>com.cqut.controller.SearchAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAction</servlet-name>
    <servlet-class>com.cqut.controller.DeleteAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAction</servlet-name>
    <servlet-class>com.cqut.controller.UpdateAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAction</servlet-name>
    <servlet-class>com.cqut.controller.QueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAction</servlet-name>
    <url-pattern>/servlet/SearchAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAction</servlet-name>
    <url-pattern>/servlet/DeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAction</servlet-name>
    <url-pattern>/servlet/UpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAction</servlet-name>
    <url-pattern>/servlet/QueryAction</url-pattern>
  </servlet-mapping>
</web-app>